{{page-title 'Administration'}}

<h1 class="display-6 mb-4">Administration</h1>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <LinkTo @route="admin.validations" class="nav-link">Validations</LinkTo>
  </li>

  <li class="nav-item">
    <LinkTo @route="admin.proxy-login" class="nav-link">Proxy Login</LinkTo>
  </li>
</ul>

{{outlet}}