{{yield this}}

<div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-link" {{on 'click' this.checkAll}}>Check all</button>
  <button type="button" class="btn btn-link" {{on 'click' this.clear}}>Clear</button>
</div>