<form {{on 'submit' (perform this.create)}}>
  {{#each @db.objs as |obj|}}
    <ObjectField @obj={{obj}} />
  {{/each}}

  <button type="submit" class="btn btn-primary" disabled={{this.create.isRunning}}>
    {{#if this.create.isRunning}}
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status">Uploading...</span>
    {{else}}
      Validate
    {{/if}}
  </button>
</form>