<div class="d-flex align-items-center gap-1">
  {{#if (or (eq @progress 'waiting') (eq @progress 'processing'))}}
    <div class="spinner-border spinner-border-sm text-secondary" role="status"></div>
  {{/if}}

  <div class="text-capitalize">{{@progress}}</div>
</div>