{{#if @items}}
  <table class="table border" ...attributes>
    {{yield}}
  </table>
{{else}}
  <div class="text-center text-muted border rounded py-5" {{style --bs-border-style='dashed'}}>
    There are no items.
  </div>
{{/if}}