default: &default
  adapter: postgresql
  encoding: unicode
  max_connections: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>

xsmdb_default: &xsmdb_default
  <<: *default
  schema_search_path: mass,public
  default_timezone: local

bioproject_default: &bioproject_default
  <<: *xsmdb_default
  migrations_paths: db/bioproject_migrate

biosample_default: &biosample_default
  <<: *xsmdb_default
  migrations_paths: db/biosample_migrate

drmdb_default: &drmdb_default
  <<: *xsmdb_default
  migrations_paths: db/drmdb_migrate

submitterdb_default: &submitterdb_default
  <<: *xsmdb_default
  migrations_paths: db/submitterdb_migrate

drasearch_default: &drasearch_default
  <<: *default
  schema_search_path: sra,public
  default_timezone: local
  migrations_paths: db/drasearch_migrate

development:
  primary:
    <<: *default
    database: repository_development
  bioproject:
    <<: *bioproject_default
    database: bioproject_development
  biosample:
    <<: *biosample_default
    database: biosample_development
  drmdb:
    <<: *drmdb_default
    database: drmdb_development
  submitterdb:
    <<: *submitterdb_default
    database: submitterdb_development
  drasearch:
    <<: *drasearch_default
    database: drasearch_development

test:
  primary:
    <<: *default
    database: repository_test
  bioproject:
    <<: *bioproject_default
    database: bioproject_test
  biosample:
    <<: *biosample_default
    database: biosample_test
  drmdb:
    <<: *drmdb_default
    database: drmdb_test
  submitterdb:
    <<: *submitterdb_default
    database: submitterdb_test
  drasearch:
    <<: *drasearch_default
    database: drasearch_test

production: &production
  primary:
    <<: *default
    url: <%= Rails.application.credentials.dig(:database_url, :primary) %>
  cache:
    <<: *default
    url: <%= Rails.application.credentials.dig(:database_url, :cache) %>
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    url: <%= Rails.application.credentials.dig(:database_url, :queue) %>
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    url: <%= Rails.application.credentials.dig(:database_url, :cable) %>
    migrations_paths: db/cable_migrate
  bioproject:
    <<: *bioproject_default
    url: <%= Rails.application.credentials.dig(:database_url, :xsmdb) %>
    database: bioproject
    database_tasks: false
  biosample:
    <<: *biosample_default
    url: <%= Rails.application.credentials.dig(:database_url, :xsmdb) %>
    database: biosample
    database_tasks: false
  drmdb:
    <<: *drmdb_default
    url: <%= Rails.application.credentials.dig(:database_url, :xsmdb) %>
    database: drmdb
    database_tasks: false
  submitterdb:
    <<: *submitterdb_default
    url: <%= Rails.application.credentials.dig(:database_url, :xsmdb) %>
    database: submitterdb
    database_tasks: false
  drasearch:
    <<: *drasearch_default
    url: <%= Rails.application.credentials.dig(:database_url, :drasearch) %>
    database: drasearch
    database_tasks: false

staging:
  <<: *production
