openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

security:
  - BearerAuth: []

paths:
  /api_key/regenerate:
    post:
      description: Re-generate API key.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns a new API key.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [api_key]

                properties:
                  api_key:
                    type: string

        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      description: Get your information.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns the user.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [uid, api_key, admin]

                properties:
                  uid:
                    type: string

                  api_key:
                    type: string

                  admin:
                    type: boolean

        '401':
          $ref: '#/components/responses/Unauthorized'

  /attention:
    get:
      description: |
        Get the requests that are waiting on the current user: a file that
        stopped on a validation error, one that passed validation and is
        waiting to be applied, or an unanswered curator question. Used for
        a global banner, so the notice is visible from any screen rather
        than only where the request happens to be listed.

        A failed *application* is deliberately not here — that one is
        DDBJ's to fix, and asking the submitter to act on it only makes
        them resubmit a file that was fine.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the requests needing attention, newest first.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [requests]

                properties:
                  requests:
                    type: array

                    items:
                      type: object
                      additionalProperties: false
                      required: [id, db, source_id, reason]

                      properties:
                        id:
                          type: number

                        db:
                          $ref: '#/components/schemas/Db'

                        source_id:
                          type:
                            - string
                            - 'null'

                        reason:
                          description: |
                            Why this request is waiting on the submitter,
                            most-blocking first when it is more than one.
                          type: string
                          enum:
                            - validation_failed
                            - ready_to_apply
                            - unread_message

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submission_requests:
    get:
      description: |
        Get a list of submission requests. `db` and `status` are multi-select
        filters (repeat the key, e.g. `?db[]=st26&db[]=biosample`); omit a
        filter to span every value. `source_id` is a case-insensitive prefix
        match on the applied submission's source id. `accession` is a
        case-insensitive prefix match across the submission's accessions
        (BP project / BS samples / ST.26 accessions).

        `phase` splits the live submissions from the finished ones and
        defaults to `unfinished`; `needs_action` narrows to the ones
        waiting on the submitter (the same set `/attention` returns).
        `Unfinished-Count` and `Finished-Count` report both halves
        regardless of which one is being listed.

      tags:
        - Submission Requests

      parameters:
        - name: db
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/Db'

        - name: status
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/SubmissionOperationStatus'

        - name: source_id
          in: query

          schema:
            type: string

        - name: accession
          in: query

          schema:
            type: string

        - name: phase
          in: query

          schema:
            type: string
            enum: [unfinished, finished, all]

        - name: needs_action
          in: query

          schema:
            type: boolean

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submission requests.

          headers:
            Total-Pages:
              schema:
                type: string

            Unfinished-Count:
              schema:
                type: string

            Finished-Count:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionRequestSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      description: Create a submission request.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_request]

              properties:
                submission_request:
                  type: object
                  additionalProperties: false
                  required: [db, ddbj_record]

                  properties:
                    db:
                      $ref: '#/components/schemas/Db'

                    ddbj_record:
                      type: string
                      format: binary

      responses:
        '202':
          description: Accepted the submission request creation.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submission_requests/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission request.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the requested submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/status:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the status of a submission request. Lightweight endpoint for polling.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the status of the submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequestStatus'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/closure:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Close a submission request — "I am not taking this one further".

        A request that failed validation cannot be advanced: a corrected file
        arrives as a new request with no link back to this one, so closing is
        the only way it ever reaches an end. The request keeps its status, its
        validation and its messages; it stops asking the submitter for
        something and moves to the finished side of the list.

        Only a request that is asking for something may be closed (validation
        failed, or ready to apply) — see `closable`.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the closed submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: The request is not in a state that can be closed.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false

                required:
                  - error

                properties:
                  error:
                    type: string

    delete:
      description: |
        Reopen a closed submission request. As cheap as closing it, because
        closing undoes nothing.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the reopened submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/submission:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    post:
      description: Apply a submission request.

      tags:
        - Submission Requests

      responses:
        '204':
          description: Accepted the submission request application.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submission_requests/{submission_request_id}/reviewer_access:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the reviewer-access link state for a request.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Whether reviewer access is enabled and, if so, its share URL and expiry.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerAccess'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    post:
      description: Enable reviewer access, minting a fresh unguessable link. Any existing link is invalidated.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reviewer_access]

              properties:
                reviewer_access:
                  type: object
                  additionalProperties: false
                  required: [expires_at]

                  properties:
                    expires_at:
                      type: string
                      format: date-time

      responses:
        '201':
          description: Returns the newly-enabled reviewer access.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerAccess'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

    delete:
      description: Disable reviewer access, invalidating the link.

      tags:
        - Submission Requests

      responses:
        '204':
          description: Reviewer access disabled.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{token}:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

    get:
      description: Reviewer view of a submission request via its share token. No authentication; messages are deliberately not included.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerSubmissionRequest'

        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{token}/accessions:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

    get:
      description: Reviewer view of a submission's accessions via the share token. No authentication.

      tags:
        - Submission Requests

      parameters:
        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Accession'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions:
    get:
      description: Get a list of submissions. Omit `db` to span every database the user has access to.

      tags:
        - Submissions

      parameters:
        - name: db
          in: query

          schema:
            $ref: '#/components/schemas/Db'

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submissions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submissions/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission.

      tags:
        - Submissions

      responses:
        '200':
          description: Returns the requested submission.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions/{id}/accessions:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a paginated list of accessions for a submission.

      tags:
        - Submissions

      parameters:
        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Accession'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{submission_request_id}/messages/read:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Mark the curator's messages in this thread as read — "nothing to answer
        here".

        Reading the thread does not do this. "I have seen it" and "I have dealt
        with it" are different events, and a submitter who opens a question
        meaning to answer it later should keep the reminder. Replying discharges
        the thread too; this is for the note that needs no reply.

        `through_id` is the newest message the client had in front of it. One
        that arrives a moment later is not acknowledged by a press that could
        not have taken it into account. Omit it to mark the whole thread.

      requestBody:
        required: false

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false

              properties:
                through_id:
                  type: number

      tags:
        - Submission Requests

      responses:
        '204':
          description: The curator's messages are marked read.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{submission_request_id}/messages:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the curator ↔ submitter message thread for a request. Marks any unread curator-authored messages as read.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the chronological list of messages.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    post:
      description: Submitter posts a reply to the thread. Notifies curators by email.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_message]

              properties:
                submission_message:
                  type: object
                  additionalProperties: false
                  required: [body]

                  properties:
                    body:
                      type: string

                    files:
                      description: |
                        Signed ids from ActiveStorage direct upload. The file goes
                        to storage from the browser, so nothing here is bounded by
                        this request — the files this conversation is about are
                        submission files, which are large by nature.
                      type: array

                      items:
                        type: string

      responses:
        '201':
          description: Returns the newly-created message.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /accessions/{number}:
    get:
      description: Get an accession by number, including its submission and flatfile URLs.

      tags:
        - Submissions

      parameters:
        - name: number
          in: path
          required: true

          schema:
            type: string

      responses:
        '200':
          description: Returns the accession with its submission.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [number, entry_id, version, locus_date, submission]

                properties:
                  number:
                    type: string

                  entry_id:
                    type: string

                  version:
                    type: number

                  locus_date:
                    type: string
                    format: date

                  submission:
                    $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    Db:
      type: string

      enum:
        - st26
        - bioproject
        - biosample

    SubmissionRequestSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - created_at
        - closed_at
        - submission_id
        - source_id
        - first_accession
        - accession_count
        - processing
        - unread_curator_message_count
        - progress

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        created_at:
          type: string
          format: date-time

        closed_at:
          description: |
            The submitter put this request down. A row and the page it opens
            answer the same question from the same facts, so the summary
            carries it too.
          type:
            - string
            - 'null'
          format: date-time

        submission_id:
          type: number
          nullable: true

        source_id:
          type:
            - string
            - 'null'

        first_accession:
          type:
            - string
            - 'null'

        accession_count:
          type: number

        processing:
          description: Validation or application is running right now.
          type: boolean

        unread_curator_message_count:
          type: number

        progress:
          $ref: '#/components/schemas/Progress'

    ReviewerAccess:
      type: object
      additionalProperties: false

      required:
        - enabled

      properties:
        enabled:
          type: boolean

        url:
          type: string

        expires_at:
          type: string
          format: date-time

    SubmissionRequestStatus:
      type: object
      additionalProperties: false

      required:
        - id
        - status
        - error_message
        - processing

      properties:
        id:
          type: number

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_message:
          type:
            - string
            - 'null'

        processing:
          type: boolean

    SubmissionRequest:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - error_message
        - created_at
        - closed_at
        - closable
        - processing
        - ddbj_record
        - validation
        - submission
        - progress
        - unread_curator_message_count
        - last_message_at

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_message:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        closed_at:
          description: |
            When the submitter put this request down. A request that failed
            validation cannot be advanced — a corrected file arrives as a new
            request — so closing is the only way it reaches an end. Null while
            it is still open.
          type:
            - string
            - 'null'
          format: date-time

        closable:
          description: |
            Whether the submitter may close it now. True only while the request
            is asking them for something (validation failed, or ready to apply).
          type: boolean

        processing:
          type: boolean

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        validation:
          anyOf:
            - $ref: '#/components/schemas/Validation'
            - type: 'null'

        submission:
          anyOf:
            - $ref: '#/components/schemas/Submission'
            - type: 'null'

        progress:
          $ref: '#/components/schemas/Progress'

        unread_curator_message_count:
          type: number

        last_message_at:
          description: When the thread was last posted to, by either party.
          type:
            - string
            - 'null'
          format: date-time

    ReviewerSubmissionRequest:
      description: |
        What a share-link holder may see. Identical to SubmissionRequest
        minus the messaging facts: the endpoint is unauthenticated, so it
        must not disclose that a curator ↔ submitter conversation exists.
        Spelled out rather than derived from SubmissionRequest because
        `additionalProperties: false` does not compose through `allOf` —
        which also means a field added to the submitter view stays out of
        this one until somebody decides it belongs here.
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - error_message
        - created_at
        - closed_at
        - processing
        - ddbj_record
        - validation
        - submission
        - progress

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_message:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        closed_at:
          description: The submitter put this request down. Null while it is still open.
          type:
            - string
            - 'null'
          format: date-time

        processing:
          type: boolean

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        validation:
          anyOf:
            - $ref: '#/components/schemas/Validation'
            - type: 'null'

        submission:
          anyOf:
            - $ref: '#/components/schemas/Submission'
            - type: 'null'

        progress:
          $ref: '#/components/schemas/Progress'

    Progress:
      description: |
        How far along the request is, in a vocabulary a submitter can read.
        Derived server-side from the ingest status and the curation rows —
        neither of the underlying enums is a progress scale on its own.
      type: object
      additionalProperties: false

      required:
        - step
        - failed
        - closed
        - row_count
        - accessioned_count
        - hold_date

      properties:
        step:
          type: string
          enum:
            - submitted
            - validated
            - applied
            - curating
            - accession_issued
            - public

        failed:
          description: The pipeline stopped at the step after `step`.
          type: boolean

        closed:
          description: |
            The record left the pipeline — withdrawn, canceled or
            permanently suppressed. `step` is then where it stopped, not
            where work is in progress.
          type: boolean

        row_count:
          description: Curation rows behind the request — 1 project (BP), N samples (BS), 0 otherwise.
          type: number

        accessioned_count:
          type: number

        hold_date:
          description: Scheduled release date. Only BioProject carries one.
          type:
            - string
            - 'null'
          format: date

    Validation:
      type: object
      additionalProperties: false

      required:
        - id
        - progress
        - created_at
        - finished_at
        - validity
        - details

      properties:
        id:
          type: number

        progress:
          type: string

          enum:
            - running
            - finished
            - canceled

        created_at:
          type: string
          format: date-time

        finished_at:
          type:
            - string
            - 'null'

          format: date-time

        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid

        details:
          type: array

          items:
            type: object
            additionalProperties: false

            required:
              - entry_id
              - code
              - severity
              - message

            properties:
              entry_id:
                type:
                  - string
                  - 'null'

              code:
                type: string

              severity:
                type: string

                enum:
                  - warning
                  - error

              message:
                type: string

    SubmissionSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - source_id
        - created_at
        - updated_at

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        source_id:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

    Submission:
      type: object
      additionalProperties: false

      required:
        - id
        - source_id
        - created_at
        - updated_at
        - accessions_count
        - ddbj_record
        - flatfile_na
        - flatfile_aa

      properties:
        id:
          type: number

        source_id:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

        accessions_count:
          type: number

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        flatfile_na:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

        flatfile_aa:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

    Accession:
      type: object
      additionalProperties: false

      required:
        - number
        - entry_id
        - version
        - locus_date

      properties:
        number:
          type: string

        entry_id:
          type: string

        version:
          type: number

        locus_date:
          type: string
          format: date

    Attachment:
      type: object
      additionalProperties: false
      required: [filename, url]

      properties:
        filename:
          type: string

        url:
          type: string
          format: uri

    AttachedFile:
      description: |
        One file attached to a message. Uploaded directly to storage, so no
        size limit is imposed here — the files this conversation is about are
        submission files, which are large by nature.
      type: object
      additionalProperties: false

      required:
        - filename
        - byte_size
        - url

      properties:
        filename:
          type: string

        byte_size:
          type: number

        url:
          type: string

    Message:
      type: object
      additionalProperties: false

      required:
        - id
        - body
        - author_role
        - author_uid
        - created_at
        - read_at
        - files

      properties:
        id:
          type: number

        body:
          type: string

        author_role:
          type: string

          enum:
            - curator
            - submitter

        author_uid:
          type: string

        created_at:
          type: string
          format: date-time

        read_at:
          type:
            - string
            - 'null'
          format: date-time

        files:
          type: array

          items:
            $ref: '#/components/schemas/AttachedFile'

    SubmissionOperationStatus:
      type: string

      enum:
        - waiting_validation
        - validating
        - validation_failed
        - ready_to_apply
        - waiting_application
        - applying
        - applied
        - application_failed
        - no_change

    Error:
      type: object
      additionalProperties: false
      required: [error]

      properties:
        error:
          type: string

  responses:
    BadRequest:
      description: Unexpected parameter specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Not authenticated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Does not have access rights to the resource.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: The requested resource could not be found.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnprocessableContent:
      description: Invalid parameter or payload was specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

