openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

security:
  - BearerAuth: []

paths:
  /api_key/regenerate:
    post:
      description: Re-generate API key.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns a new API key.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [api_key]

                properties:
                  api_key:
                    type: string

        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      description: Get your information.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns the user.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [uid, api_key, admin]

                properties:
                  uid:
                    type: string

                  api_key:
                    type: string

                  admin:
                    type: boolean

        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  schemas:
    Error:
      type: object
      additionalProperties: false

      required:
        - message

      properties:
        message:
          type: string

  responses:
    BadRequest:
      description: Unexpected parameter specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Not authenticated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Does not have access rights to the resource.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: The requested resource could not be found.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnprocessableContent:
      description: Invalid parameter or payload was specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
