openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

security:
  - BearerAuth: []

paths:
  /api_key/regenerate:
    post:
      description: Re-generate API key.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns a new API key.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [api_key]

                properties:
                  api_key:
                    type: string

        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      description: Get your information.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns the user.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [uid, api_key, admin]

                properties:
                  uid:
                    type: string

                  api_key:
                    type: string

                  admin:
                    type: boolean

        '401':
          $ref: '#/components/responses/Unauthorized'

  /attention:
    get:
      description: |
        Get the requests that are waiting on the current user: a file that
        stopped on a validation error, one that passed validation and is
        waiting to be applied, or an unanswered curator question. Used for
        a global banner, so the notice is visible from any screen rather
        than only where the request happens to be listed.

        A failed *application* is deliberately not here — that one is
        DDBJ's to fix, and asking the submitter to act on it only makes
        them resubmit a file that was fine.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the requests needing attention, newest first.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [requests]

                properties:
                  requests:
                    type: array

                    items:
                      type: object
                      additionalProperties: false
                      required: [id, db, source_id, reason]

                      properties:
                        id:
                          type: number

                        db:
                          $ref: '#/components/schemas/Db'

                        source_id:
                          type:
                            - string
                            - 'null'

                        reason:
                          description: |
                            Why this request is waiting on the submitter,
                            most-blocking first when it is more than one.
                          type: string
                          enum:
                            - validation_failed
                            - ready_to_apply
                            - unread_message

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submission_requests:
    get:
      description: |
        Get a list of submission requests. `db` and `status` are multi-select
        filters (repeat the key, e.g. `?db[]=st26&db[]=biosample`); omit a
        filter to span every value. `source_id` is a case-insensitive prefix
        match on the applied submission's source id. `accession` is a
        case-insensitive prefix match across the submission's accessions
        (BP project / BS samples / ST.26 accessions).

        `phase` splits the live submissions from the finished ones and
        defaults to `unfinished`; `needs_action` narrows to the ones
        waiting on the submitter (the same set `/attention` returns).
        `Unfinished-Count` and `Finished-Count` report both halves
        regardless of which one is being listed.

      tags:
        - Submission Requests

      parameters:
        # `db[]` and `status[]`, not `db` and `status`: Rails reads a
        # repeated key as an array only in that form, and OpenAPI's
        # default serialisation of an array parameter is `db=a&db=b`,
        # which Rack collapses to the last value. The in-repo client
        # brackets them and was never affected; a client generated from
        # this document would have got a 200 quietly filtered to one
        # value.
        - name: db[]
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/Db'

        - name: status[]
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/SubmissionOperationStatus'

        - name: source_id
          in: query

          schema:
            type: string

        - name: accession
          in: query

          schema:
            type: string

        - name: phase
          in: query

          schema:
            type: string
            enum: [unfinished, finished, all]

        - name: needs_action
          in: query

          schema:
            type: boolean

        # Sorts the requests waiting on the submitter to the front of the
        # whole list. Off by default: it makes the leading sort key
        # something that changes when the data does, so a client walking
        # the pages would have rows move between them underneath it.
        - name: needs_action_first
          in: query

          schema:
            type: boolean

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submission requests.

          headers:
            Total-Pages:
              schema:
                type: string

            Unfinished-Count:
              schema:
                type: string

            Finished-Count:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionRequestSummary'

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      description: Create a submission request.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_request]

              properties:
                submission_request:
                  type: object
                  additionalProperties: false
                  required: [db, ddbj_record]

                  properties:
                    db:
                      $ref: '#/components/schemas/Db'

                    ddbj_record:
                      type: string
                      format: binary

      responses:
        '202':
          description: Accepted the submission request creation.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submission_requests/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission request.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the requested submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/status:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the status of a submission request. Lightweight endpoint for polling.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the status of the submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequestStatus'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/closure:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Close a submission request — "I am not taking this one further".

        A request that failed validation cannot be advanced: a corrected file
        arrives as a new request with no link back to this one, so closing is
        the only way it ever reaches an end. The request keeps its status, its
        validation and its messages; it stops asking the submitter for
        something and moves to the finished side of the list.

        Only a request that is asking for something may be closed (validation
        failed, or ready to apply) — see `closable`.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the closed submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: The request is not in a state that can be closed.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false

                required:
                  - error

                properties:
                  error:
                    type: string

    delete:
      description: |
        Reopen a closed submission request. As cheap as closing it, because
        closing undoes nothing.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the reopened submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/submission:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    post:
      description: Apply a submission request.

      tags:
        - Submission Requests

      responses:
        '204':
          description: Accepted the submission request application.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submission_requests/{submission_request_id}/reviewer_access:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the reviewer-access link state for a request.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Whether reviewer access is enabled and, if so, its share URL and expiry.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerAccess'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    post:
      description: Enable reviewer access, minting a fresh unguessable link. Any existing link is invalidated.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reviewer_access]

              properties:
                reviewer_access:
                  type: object
                  additionalProperties: false
                  required: [expires_at]

                  properties:
                    expires_at:
                      type: string
                      format: date-time

      responses:
        '201':
          description: Returns the newly-enabled reviewer access.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerAccess'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

    delete:
      description: Disable reviewer access, invalidating the link.

      tags:
        - Submission Requests

      responses:
        '204':
          description: Reviewer access disabled.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{token}:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

    get:
      description: Reviewer view of a submission request via its share token. No authentication; messages are deliberately not included.

      tags:
        - Submission Requests

      security: []

      responses:
        '200':
          description: Returns the submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerSubmissionRequest'

        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{token}/accessions:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

    get:
      description: Reviewer view of a submission's accessions via the share token. No authentication.

      tags:
        - Submission Requests

      security: []

      parameters:
        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/ReviewerAccession'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions:
    get:
      description: Get a list of submissions. Omit `db` to span every database the user has access to.

      tags:
        - Submissions

      parameters:
        - name: db
          in: query

          schema:
            $ref: '#/components/schemas/Db'

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submissions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionSummary'

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submissions/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission.

      tags:
        - Submissions

      responses:
        '200':
          description: Returns the requested submission.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions/{id}/accessions:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: |
        Get a paginated list of accessions for a submission. `status`
        filters it, the same way it does on `/accessions` — the two share
        the action, so leaving it undocumented here would mean a client
        relying on behaviour no test defends.

      tags:
        - Submissions

      parameters:
        - name: status[]
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/CurationStatus'

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Accession'

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{submission_request_id}/messages/read:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Mark the curator's messages in this thread as read — "nothing to answer
        here".

        Reading the thread does not do this. "I have seen it" and "I have dealt
        with it" are different events, and a submitter who opens a question
        meaning to answer it later should keep the reminder. Replying discharges
        the thread too; this is for the note that needs no reply.

        `through_id` is the newest message the client had in front of it. One
        that arrives a moment later is not acknowledged by a press that could
        not have taken it into account. Omit it to mark the whole thread.

      requestBody:
        required: false

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false

              properties:
                through_id:
                  type: number

      tags:
        - Submission Requests

      responses:
        '204':
          description: The curator's messages are marked read.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{submission_request_id}/messages:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the curator ↔ submitter message thread for a request. Marks any unread curator-authored messages as read.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the chronological list of messages.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    post:
      description: Submitter posts a reply to the thread. Notifies curators by email.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_message]

              properties:
                submission_message:
                  type: object
                  additionalProperties: false
                  required: [body]

                  properties:
                    body:
                      type: string

                    files:
                      description: |
                        Signed ids from ActiveStorage direct upload. The file goes
                        to storage from the browser, so nothing here is bounded by
                        this request — the files this conversation is about are
                        submission files, which are large by nature.
                      type: array

                      items:
                        type: string

      responses:
        '201':
          description: Returns the newly-created message.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /accessions:
    get:
      description: |
        Get a paginated list of every accession the caller has, across
        submissions. `status` is a multi-select filter (repeat the key,
        e.g. `?status[]=canceled&status[]=withdrawn`); omit it to span
        every value.

        Narrowing by status is what this is for. A client holding a local
        copy of every entry it registered rebuilds its lists from that
        copy, so it has to hear about a retraction it did not make — and
        those are a handful of rows among millions. Asking for them a
        submission at a time is one walk per submission.

        Paginated 1000 at a time rather than the usual 20: a page of this
        is read by a script keeping a copy in step, not by a person.

        Walked with a cursor rather than a page number. Offset pagination
        is wrong for a walk rather than merely slow: a row that disappears
        from a page already read pulls every later row back one place, and
        the row on the far side of the boundary is never returned. Pass
        the `Next-Page` header of the previous response back as `page`;
        its absence means there is nothing after this page. There is no
        total.

      tags:
        - Submissions

      parameters:
        # `status[]`, not `status`: Rails reads a repeated key as an array
        # only in that form, and OpenAPI's default serialisation of a
        # `status` array is `status=a&status=b` — which Rack collapses to
        # the last value. A generated client would have got a 200 quietly
        # missing every canceled entry, which is the answer this endpoint
        # exists to avoid.
        - name: status[]
          in: query

          schema:
            type: array

            items:
              $ref: '#/components/schemas/CurationStatus'

        - name: page
          in: query

          description: Opaque cursor from the previous response's `Next-Page` header. Omit for the first page.

          schema:
            type: string

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Next-Page:
              description: Cursor for the next page. Absent on the last one.

              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Accession'

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /accessions/{number}:
    get:
      description: Get an accession by number, including its submission and flatfile URLs.

      tags:
        - Submissions

      parameters:
        - name: number
          in: path
          required: true

          schema:
            type: string

      responses:
        '200':
          description: Returns the accession with its submission.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [accession, entry_id, version, locus_date, status, submission]

                properties:
                  accession:
                    type: string

                  status:
                    $ref: '#/components/schemas/CurationStatus'

                  entry_id:
                    type: string

                  version:
                    type: number

                  locus_date:
                    type: string
                    format: date

                  submission:
                    $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /sets:
    get:
      description: Sets you belong to.

      tags:
        - Sets

      responses:
        '200':
          description: Every set this account has joined. Outstanding invitations are not membership and do not appear here.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SetSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      description: Create a set. You become its owner and its first member.

      tags:
        - Sets

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [set]

              properties:
                set:
                  type: object
                  additionalProperties: false
                  required: [name]

                  properties:
                    name:
                      type: string

      responses:
        '201':
          description: The new set.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          description: Sets cannot be changed while acting as another account.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /sets/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: |
        One set: its roster and a page of the submissions in it. A set you
        are not in answers 404 rather than 403 — from outside, it is not a
        set you have an id for.

        The roster comes whole (a set is people, and there are not many of
        them); the submissions are paginated, because a study that ran for
        three years is hundreds of them and each one renders a progress block.

      tags:
        - Sets

      parameters:
        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: The set.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      description: Rename a set. The owner's, not every member's.

      tags:
        - Sets

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [set]

              properties:
                set:
                  type: object
                  additionalProperties: false
                  required: [name]

                  properties:
                    name:
                      type: string

      responses:
        '200':
          description: The renamed set.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          $ref: '#/components/responses/Forbidden'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

    delete:
      description: |
        Delete a set. The owner's, and only once everyone else has left and
        every submission has been taken out — the submissions are their
        owners' to remove, and the people are not the owner's to dissolve.

      tags:
        - Sets

      responses:
        '204':
          description: Deleted.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          $ref: '#/components/responses/Forbidden'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: The set still has other members or submissions in it.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sets/{set_id}/members:
    parameters:
      - name: set_id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Invite somebody by email. Any member may invite. The mail carries a
        single-use link; what is checked on the way in is that link and not
        the address, so the recipient may accept with an account registered
        at a different address — the roster says so when they do.

      tags:
        - Sets

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [set_member]

              properties:
                set_member:
                  type: object
                  additionalProperties: false
                  required: [email]

                  properties:
                    email:
                      type: string

      responses:
        '201':
          description: |
            The invited member, with the invitation still outstanding. Check
            `mail_deliverable`: where outgoing mail is restricted the invitation
            is real but nobody was told, and `invitation_url` is what to send.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetMember'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          description: Sets cannot be changed while acting as another account.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

        '429':
          description: Too many invitations in a short time.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sets/{set_id}/members/{id}:
    parameters:
      - name: set_id
        in: path
        required: true

        schema:
          type: number

      - name: id
        in: path
        required: true

        schema:
          type: number

    delete:
      description: |
        Leave, take back an invitation you sent, or (as the owner) remove
        somebody. Removing a member takes their submissions out of the set
        with them: the set was the only thing letting the others read that
        work.

      tags:
        - Sets

      responses:
        '204':
          description: Removed.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          $ref: '#/components/responses/Forbidden'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: The owner cannot leave their own set.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sets/{set_id}/members/{member_id}/reminder:
    parameters:
      - name: set_id
        in: path
        required: true

        schema:
          type: number

      - name: member_id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Send the invitation again. A fresh token and a fresh clock, so the
        link that did not get used stops working.

      tags:
        - Sets

      responses:
        '201':
          description: The member, with a new invitation outstanding.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetMember'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          description: Sets cannot be changed while acting as another account.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: That person has already joined.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sets/{set_id}/submissions:
    parameters:
      - name: set_id
        in: path
        required: true

        schema:
          type: number

    post:
      description: |
        Put submissions of yours in the set, which is what lets the set's
        members read them. Yours only — reading somebody else's through a
        shared set does not carry the right to hand it on, and an id you do
        not own answers 404 rather than being quietly dropped.

        Always a list; one submission is a list of one. The submitter's list
        screen adds a page's worth in a press, and splitting that into one
        request each would leave nobody holding the answer to what actually
        went in.

        Ones already in the set are counted, not refused: ten checkboxes
        where three are already there is an ordinary press.

      tags:
        - Sets

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_request_ids]

              properties:
                submission_request_ids:
                  type: array
                  minItems: 1
                  maxItems: 200

                  items:
                    type: number

      responses:
        '200':
          description: |
            What happened, as counts. Not the set itself: answering with that
            would mean loading a page of it — a progress block and an accession
            summary per row — for something the client re-reads anyway. Both
            numbers, because "8 added" alone leaves somebody who checked ten
            wondering about the other two.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [added, already_in_set]

                properties:
                  added:
                    type: number

                  already_in_set:
                    type: number

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          description: Sets cannot be changed while acting as another account.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /sets/{set_id}/submissions/{submission_request_id}:
    parameters:
      - name: set_id
        in: path
        required: true

        schema:
          type: number

      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

    delete:
      description: Take your submission back out of the set.

      tags:
        - Sets

      responses:
        '204':
          description: Removed.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          $ref: '#/components/responses/Forbidden'

        '404':
          $ref: '#/components/responses/NotFound'

  /invitations/{token}:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

    get:
      description: |
        What an invitation link is for, readable without an account — the
        person holding it may not have one yet. An expired invitation is
        answered rather than hidden: the holder is the intended recipient,
        and "ask them to send it again" is the only thing that unsticks them.

      security: []

      tags:
        - Sets

      responses:
        '200':
          description: The invitation.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'

        '404':
          $ref: '#/components/responses/NotFound'

  /invitations/{invitation_token}/acceptance:
    parameters:
      - name: invitation_token
        in: path
        required: true

        schema:
          type: string

    post:
      description: Walk through the invitation and join the set.

      tags:
        - Sets

      responses:
        '201':
          description: |
            The set you have joined — or were already in, if this invitation
            was a second one sent to the same person, in which case it is simply
            spent.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          description: The invitation has expired, or somebody has already used it.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /submission_requests/{submission_request_id}/files/{name}:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

      - name: name
        in: path
        required: true

        schema:
          type: string
          enum: [ddbj_record]

    get:
      description: |
        The file as uploaded. Readable by its submitter, by the members of any
        set it has been put in, and by nobody else — asked on every request,
        so access that has been taken away is a download that has stopped.

        The attachment is named by the path rather than carried as an opaque
        blob id, so one record's id cannot be presented with another record's
        file, and an attachment no path names cannot be addressed at all.

      tags:
        - Submission Requests

      parameters:
        - name: as
          in: query
          description: |
            `url` answers with the address as JSON instead of redirecting to it.
            A browser cannot put an `Authorization` header on an anchor and this
            API takes no cookies, so the web client asks for the address and
            navigates to it itself. Everything else follows the redirect.

          schema:
            type: string
            enum: [url]

        - name: disposition
          in: query

          description: |
            `attachment` saves the file; `inline` (the default) leaves it to the
            browser. A value outside this list is the default rather than an
            error — a disposition is a preference, not an instruction.

          schema:
            type: string
            enum: [inline, attachment]

      responses:
        '200':
          description: |
            The address, when `as=url` was asked for. A storage URL good for a
            few minutes — not a thing to store, and not usable by anybody the
            request was not authorised for.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [url]

                properties:
                  url:
                    type: string
                    format: uri

        '302':
          description: |
            A redirect to storage. The `Location` expires in minutes; the
            authorisation happened here, on this request.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{submission_request_id}/messages/{message_id}/files/{id}:
    parameters:
      - name: submission_request_id
        in: path
        required: true

        schema:
          type: number

      - name: message_id
        in: path
        required: true

        schema:
          type: number

      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: |
        A file attached to a message. The request's owner only — the
        conversation is between one submitter and DDBJ, and reading their
        submission through a shared set is not being party to it.

      tags:
        - Submission Requests

      parameters:
        - name: as
          in: query
          description: |
            `url` answers with the address as JSON instead of redirecting to it.
            A browser cannot put an `Authorization` header on an anchor and this
            API takes no cookies, so the web client asks for the address and
            navigates to it itself. Everything else follows the redirect.

          schema:
            type: string
            enum: [url]

        - name: disposition
          in: query

          description: |
            `attachment` saves the file; `inline` (the default) leaves it to the
            browser. A value outside this list is the default rather than an
            error — a disposition is a preference, not an instruction.

          schema:
            type: string
            enum: [inline, attachment]

      responses:
        '200':
          description: |
            The address, when `as=url` was asked for. A storage URL good for a
            few minutes — not a thing to store, and not usable by anybody the
            request was not authorised for.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [url]

                properties:
                  url:
                    type: string
                    format: uri

        '302':
          description: |
            A redirect to storage. The `Location` expires in minutes; the
            authorisation happened here, on this request.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions/{submission_id}/files/{name}:
    parameters:
      - name: submission_id
        in: path
        required: true

        schema:
          type: number

      - name: name
        in: path
        required: true

        schema:
          type: string
          enum: [ddbj_record, flatfile_na, flatfile_aa]

    get:
      description: The applied record, and the flatfiles rendered from it.

      tags:
        - Submissions

      parameters:
        - name: as
          in: query
          description: |
            `url` answers with the address as JSON instead of redirecting to it.
            A browser cannot put an `Authorization` header on an anchor and this
            API takes no cookies, so the web client asks for the address and
            navigates to it itself. Everything else follows the redirect.

          schema:
            type: string
            enum: [url]

        - name: disposition
          in: query

          description: |
            `attachment` saves the file; `inline` (the default) leaves it to the
            browser. A value outside this list is the default rather than an
            error — a disposition is a preference, not an instruction.

          schema:
            type: string
            enum: [inline, attachment]

      responses:
        '200':
          description: |
            The address, when `as=url` was asked for. A storage URL good for a
            few minutes — not a thing to store, and not usable by anybody the
            request was not authorised for.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [url]

                properties:
                  url:
                    type: string
                    format: uri

        '302':
          description: |
            A redirect to storage. The `Location` expires in minutes; the
            authorisation happened here, on this request.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{token}/files/{name}:
    parameters:
      - name: token
        in: path
        required: true

        schema:
          type: string

      - name: name
        in: path
        required: true
        description: |
          `submission_record` is the applied record, as against `ddbj_record`
          which is what was uploaded — one word apart everywhere else, which is
          why they are not here.

        schema:
          type: string
          enum: [ddbj_record, submission_record, flatfile_na, flatfile_aa]

    get:
      description: |
        Files on the share token, like the rest of the reviewer's view — so
        revoking or expiring the share revokes these with it.

        A revoked token, an expired one, and one that never existed are all a
        404 alike: a reviewer cannot tell a share that was taken away from one
        that was never given. No 401, because there is nothing to
        authenticate — the token in the path is the whole credential.

      security: []

      tags:
        - Submission Requests

      parameters:
        - name: as
          in: query
          description: |
            `url` answers with the address as JSON instead of redirecting to it.
            A browser cannot put an `Authorization` header on an anchor and this
            API takes no cookies, so the web client asks for the address and
            navigates to it itself. Everything else follows the redirect.

          schema:
            type: string
            enum: [url]

        - name: disposition
          in: query

          description: |
            `attachment` saves the file; `inline` (the default) leaves it to the
            browser. A value outside this list is the default rather than an
            error — a disposition is a preference, not an instruction.

          schema:
            type: string
            enum: [inline, attachment]

      responses:
        '200':
          description: |
            The address, when `as=url` was asked for. A storage URL good for a
            few minutes — not a thing to store, and not usable by anybody the
            request was not authorised for.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [url]

                properties:
                  url:
                    type: string
                    format: uri

        '302':
          description: |
            A redirect to storage. The `Location` expires in minutes; the
            authorisation happened here, on this request.

        '404':
          $ref: '#/components/responses/NotFound'

  /direct_uploads:
    post:
      description: |
        Reserve a place in storage and get a URL to PUT the bytes to. The
        request and response shapes are Active Storage's contract with
        `@rails/activestorage` in the browser, not this application's, so they
        are not pinned here.

        Authenticated, unlike Active Storage's own endpoint: it mints a row and
        a presigned PUT to whoever asks, which is defensible as a framework
        route and not as one we redraw.

      tags:
        - Uploads

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

      responses:
        '200':
          description: The blob, including `signed_id` and where to PUT the bytes.

          content:
            application/json:
              schema:
                type: object

        '401':
          $ref: '#/components/responses/Unauthorized'

  /stats:
    get:
      description: |
        How much of each accession space has been handed out, and the state
        of the loaded taxonomy. No authentication: these are counts, not
        anybody's data.

      tags:
        - Stats

      security: []

      responses:
        '200':
          description: Returns the sequence and taxdump counters.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [sequences, taxdump]

                properties:
                  sequences:
                    type: array

                    items:
                      type: object
                      additionalProperties: false
                      required: [scope, next, total, used, remaining]

                      properties:
                        # Deliberately not an enum. The set of spaces grows
                        # as databases are migrated in, and a client that
                        # rejects an unfamiliar scope would break on the
                        # release that adds one rather than ignore it.
                        scope:
                          type: string

                        next:
                          description: |
                            The number the next allocation will hand out.
                            `null` once every prefix in the space is used
                            up, which is also when `remaining` reaches 0.
                          type:
                            - string
                            - 'null'

                        total:
                          type: number

                        used:
                          type: number

                        remaining:
                          type: number

                  taxdump:
                    type: object
                    additionalProperties: false
                    required: [names_count, nodes_count, loaded_at]

                    properties:
                      names_count:
                        type: number

                      nodes_count:
                        type: number

                      loaded_at:
                        description: '`null` before the first load.'

                        type:
                          - string
                          - 'null'

                        format: date-time

components:
  schemas:
    Db:
      type: string

      enum:
        - st26
        - bioproject
        - biosample

    SubmissionRequestSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - created_at
        - closed_at
        - submission_id
        - source_id
        - first_accession
        - accession_count
        - processing
        - unread_curator_message_count
        - progress

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        created_at:
          type: string
          format: date-time

        closed_at:
          description: |
            The submitter put this request down. A row and the page it opens
            answer the same question from the same facts, so the summary
            carries it too.
          type:
            - string
            - 'null'
          format: date-time

        submission_id:
          # `type: [number, 'null']`, not OpenAPI 3.0's `nullable: true` —
          # this document is 3.1, where `nullable` is not a keyword at all
          # and was silently declaring the field non-null. Every request
          # that has not been applied yet sends null here.
          type:
            - number
            - 'null'

        source_id:
          type:
            - string
            - 'null'

        first_accession:
          type:
            - string
            - 'null'

        accession_count:
          type: number

        processing:
          description: Validation or application is running right now.
          type: boolean

        unread_curator_message_count:
          type: number

        progress:
          $ref: '#/components/schemas/Progress'

    SetSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - name
        - owner_uid
        - owned
        - created_at
        - member_count
        - invited_count
        - submission_count

      properties:
        id:
          type: number

        name:
          type: string

        owner_uid:
          type: string

        owned:
          description: You created it, so renaming and deleting it are yours.
          type: boolean

        created_at:
          type: string
          format: date-time

        member_count:
          description: People who have accepted.
          type: number

        invited_count:
          description: Invitations still outstanding.
          type: number

        submission_count:
          type: number

    Set:
      type: object
      additionalProperties: false

      required:
        - id
        - name
        - owner_uid
        - owned
        - created_at
        - member_count
        - invited_count
        - submission_count
        - deletable
        - delete_blocked_reason
        - members
        - submissions

      properties:
        id:
          type: number

        name:
          type: string

        owner_uid:
          type: string

        owned:
          type: boolean

        created_at:
          type: string
          format: date-time

        member_count:
          type: number

        invited_count:
          type: number

        submission_count:
          type: number

        deletable:
          description: |
            Whether the set can be deleted now — only once everyone else has
            left and every submission has been taken out. Deleting is the
            owner's; this says nothing about who you are.
          type: boolean

        delete_blocked_reason:
          description: |
            Why it cannot be, in words. Null when it can. Served rather than
            re-worded by the client, so the rule and its wording stay together.
          type:
            - string
            - 'null'

        members:
          type: array

          items:
            $ref: '#/components/schemas/SetMember'

        submissions:
          type: array

          items:
            $ref: '#/components/schemas/SetSubmission'

    SetMember:
      type: object
      additionalProperties: false

      required:
        - id
        - email
        - uid
        - status
        - owner
        - you
        - invited_by
        - joined_at
        - invitation_expires_at
        - removable
        - submission_count
        - invited_address_match
        - invitation_url
        - mail_deliverable

      properties:
        id:
          type: number

        email:
          description: The address the invitation was sent to. Null on the creator's own row, who was never invited.
          type:
            - string
            - 'null'

        uid:
          description: The account that accepted. Null while the invitation is still out.
          type:
            - string
            - 'null'

        status:
          description: |
            `accepted` — they are in. `open` — the invitation is out and live.
            `expired` — it lapsed; any member can send it again. The same three
            words the invitation page uses, so the roster and the link cannot
            describe one row differently.
          type: string

          enum:
            - open
            - expired
            - accepted

        owner:
          type: boolean

        you:
          type: boolean

        invited_by:
          type: string

        joined_at:
          type:
            - string
            - 'null'
          format: date-time

        invitation_expires_at:
          type:
            - string
            - 'null'
          format: date-time

        removable:
          description: |
            Whether you may take this row off the roster — by leaving, by
            removing somebody as the owner, or by taking back an invitation you
            sent. Stated by the server because the three are different
            permissions and, under a proxy login, the account the client
            believes it is is not the account the server acts as.
          type: boolean

        submission_count:
          description: |
            How many of this set's submissions are theirs, and would therefore
            be taken out of it with them. Counted over the whole set, not over
            the page of submissions being shown.
          type: number

        invited_address_match:
          description: |
            Whether the account that walked through the invitation is registered
            at the address it was sent to. `unknown` when that account carries
            no address at all — most accounts imported from D-way have never
            signed in. Null where the question does not arise: the creator's own
            row, which was never invited.

            A forwarded invitation is a real thing people do, so this is
            reported rather than refused — it is the whole of the audit that
            pays for not binding the token to the address.
          type:
            - string
            - 'null'

          enum:
            - same
            - different
            - unknown
            - null

        invitation_url:
          description: |
            The link an outstanding invitation was mailed as. Null once it has
            been walked through. Offered to members so they can send it by hand
            when the mail did not arrive — which includes every environment
            where outgoing mail is restricted (see `mail_deliverable`).
          type:
            - string
            - 'null'

        mail_deliverable:
          description: |
            Whether the invitation mail actually leaves the building. False in a
            deployed environment whose outgoing mail is restricted to DDBJ
            addresses, in which case the invitation exists and works but nobody
            was told about it — hand them `invitation_url` instead. Null once
            the invitation has been walked through.
          type:
            - boolean
            - 'null'

    SetSubmission:
      type: object
      additionalProperties: false

      required:
        - added_at
        - owner_uid
        - owned
        - submission

      properties:
        added_at:
          type: string
          format: date-time

        owner_uid:
          description: Whose submission this is. In every other list it goes without saying; here it is the first thing a reader needs.
          type: string

        owned:
          description: |
            It is yours, so taking it out of the set is yours to do. Said by
            the server for the same reason `removable` is on a member.
          type: boolean

        submission:
          $ref: '#/components/schemas/SubmissionRequestSummary'

    Invitation:
      type: object
      additionalProperties: false

      required:
        - set_name
        - invited_by
        - email
        - expires_at
        - status

      properties:
        set_name:
          type: string

        invited_by:
          type: string

        email:
          type: string

        expires_at:
          description: Null once the invitation has been walked through.
          type:
            - string
            - 'null'
          format: date-time

        status:
          description: |
            `open` — ready to be walked through. `expired` — ask a member of the
            set to send it again. `accepted` — somebody has already used this
            link; the token is kept after acceptance precisely so the page can
            say so instead of answering with a 404.
          type: string

          enum:
            - open
            - expired
            - accepted

    ReviewerAccess:
      type: object
      additionalProperties: false

      required:
        - enabled

      properties:
        enabled:
          type: boolean

        url:
          type: string

        expires_at:
          type: string
          format: date-time

    SubmissionRequestStatus:
      type: object
      additionalProperties: false

      required:
        - id
        - status
        - error_code
        - error_message
        - processing

      properties:
        id:
          type: number

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_code:
          description: |
            Machine-readable reason the application failed. Null until it does.
            Branch on this rather than on `error_message`, whose wording changes
            without notice. An unknown code means an unexpected internal error;
            treat it like `TRD_R9999`.
          type:
            - string
            - 'null'

        error_message:
          type:
            - string
            - 'null'

        processing:
          type: boolean

    SubmissionRequest:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - error_code
        - error_message
        - created_at
        - closed_at
        - closable
        - owned
        - owner_uid
        - processing
        - ddbj_record
        - validation
        - submission
        - progress
        - unread_curator_message_count
        - last_message_at
        - sets

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_code:
          description: |
            Machine-readable reason the application failed. Null until it does.
            Branch on this rather than on `error_message`, whose wording changes
            without notice. An unknown code means an unexpected internal error;
            treat it like `TRD_R9999`.
          type:
            - string
            - 'null'

        error_message:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        sets:
          description: |
            The sets this submission has been shared into. Withheld from the
            reviewer view — somebody holding a share link is not party to who
            else is working on this.
          type: array

          items:
            type: object
            additionalProperties: false
            required: [id, name]

            properties:
              id:
                type: number

              name:
                type: string

        closed_at:
          description: |
            When the submitter put this request down. A request that failed
            validation cannot be advanced — a corrected file arrives as a new
            request — so closing is the only way it reaches an end. Null while
            it is still open.
          type:
            - string
            - 'null'
          format: date-time

        closable:
          description: |
            Whether you may close it now. True only while the request is asking
            its owner for something (validation failed, or ready to apply) —
            and never for somebody reading it through a shared set.
          type: boolean

        owned:
          description: |
            You are the submitter. False when you are reading this through a
            set somebody else's submission was shared into, in which case
            nothing on the page is yours to press and the conversation facts
            are withheld.
          type: boolean

        owner_uid:
          description: |
            Whose submission this is. Yours when `owned`; otherwise the
            colleague whose work you are reading through a shared set — the
            page says so rather than addressing you as its submitter.
          type: string

        processing:
          type: boolean

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        validation:
          anyOf:
            - $ref: '#/components/schemas/Validation'
            - type: 'null'

        submission:
          anyOf:
            - $ref: '#/components/schemas/Submission'
            - type: 'null'

        progress:
          $ref: '#/components/schemas/Progress'

        unread_curator_message_count:
          type: number

        last_message_at:
          description: When the thread was last posted to, by either party.
          type:
            - string
            - 'null'
          format: date-time

    ReviewerSubmissionRequest:
      description: |
        What a share-link holder may see. Identical to SubmissionRequest
        minus the messaging facts: the endpoint is unauthenticated, so it
        must not disclose that a curator ↔ submitter conversation exists.
        Spelled out rather than derived from SubmissionRequest because
        `additionalProperties: false` does not compose through `allOf` —
        which also means a field added to the submitter view stays out of
        this one until somebody decides it belongs here.
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - error_code
        - error_message
        - created_at
        - closed_at
        - processing
        - ddbj_record
        - validation
        - submission
        - progress

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_code:
          description: |
            Machine-readable reason the application failed. Null until it does.
            Branch on this rather than on `error_message`, whose wording changes
            without notice. An unknown code means an unexpected internal error;
            treat it like `TRD_R9999`.
          type:
            - string
            - 'null'

        error_message:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        closed_at:
          description: The submitter put this request down. Null while it is still open.
          type:
            - string
            - 'null'
          format: date-time

        processing:
          type: boolean

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        validation:
          anyOf:
            - $ref: '#/components/schemas/Validation'
            - type: 'null'

        submission:
          anyOf:
            - $ref: '#/components/schemas/Submission'
            - type: 'null'

        progress:
          $ref: '#/components/schemas/Progress'

    Progress:
      description: |
        How far along the request is, in a vocabulary a submitter can read.
        Derived server-side from the ingest status and the curation rows —
        neither of the underlying enums is a progress scale on its own.
      type: object
      additionalProperties: false

      required:
        - step
        - failed
        - closed
        - row_count
        - accessioned_count
        - hold_date

      properties:
        step:
          type: string
          enum:
            - submitted
            - validated
            - applied
            - curating
            - accession_issued
            - public

        failed:
          description: The pipeline stopped at the step after `step`.
          type: boolean

        closed:
          description: |
            The record left the pipeline — withdrawn, canceled or
            permanently suppressed. `step` is then where it stopped, not
            where work is in progress.
          type: boolean

        row_count:
          description: Curation rows behind the request — 1 project (BP), N samples (BS), 0 otherwise.
          type: number

        accessioned_count:
          type: number

        hold_date:
          description: Scheduled release date. Only BioProject carries one.
          type:
            - string
            - 'null'
          format: date

    Validation:
      type: object
      additionalProperties: false

      required:
        - id
        - progress
        - created_at
        - finished_at
        - validity
        - details

      properties:
        id:
          type: number

        progress:
          type: string

          enum:
            - running
            - finished
            - canceled

        created_at:
          type: string
          format: date-time

        finished_at:
          type:
            - string
            - 'null'

          format: date-time

        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid

        details:
          type: array

          items:
            type: object
            additionalProperties: false

            required:
              - entry_id
              - code
              - severity
              - message

            properties:
              entry_id:
                type:
                  - string
                  - 'null'

              code:
                type: string

              severity:
                type: string

                enum:
                  - warning
                  - error

              message:
                type: string

    SubmissionSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - source_id
        - created_at
        - updated_at

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        source_id:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

    Submission:
      type: object
      additionalProperties: false

      required:
        - id
        - source_id
        - created_at
        - updated_at
        - accessions_count
        - ddbj_record
        - flatfile_na
        - flatfile_aa

      properties:
        id:
          type: number

        source_id:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

        accessions_count:
          type: number

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        flatfile_na:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

        flatfile_aa:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

    Accession:
      type: object
      additionalProperties: false

      required:
        - accession
        - entry_id
        - version
        - locus_date
        - status

      properties:
        accession:
          type: string

        entry_id:
          type: string

        status:
          $ref: '#/components/schemas/CurationStatus'

        version:
          type: number

        locus_date:
          type: string
          format: date

    Attachment:
      type: object
      additionalProperties: false
      required: [filename, url]

      properties:
        filename:
          type: string

        url:
          description: |
            Where to fetch the file. Good for one fetch, soon: it redirects to
            a storage URL that expires in minutes, and the redirect itself is
            authorised when it is followed — by the same rule that let you read
            the record it hangs off.

            So it is not a thing to store. A link kept from yesterday's listing
            does not work, and one handed to somebody else does not work for
            them, which is what makes access that has been taken away actually
            gone.
          type: string
          format: uri

    AttachedFile:
      description: |
        One file attached to a message. Uploaded directly to storage, so no
        size limit is imposed here — the files this conversation is about are
        submission files, which are large by nature.
      type: object
      additionalProperties: false

      required:
        - filename
        - byte_size
        - url

      properties:
        filename:
          type: string

        byte_size:
          type: number

        url:
          description: |
            Where to fetch the file. Good for one fetch, soon: it redirects to
            a storage URL that expires in minutes, and the redirect itself is
            authorised when it is followed — by the same rule that let you read
            the record it hangs off.

            So it is not a thing to store. A link kept from yesterday's listing
            does not work, and one handed to somebody else does not work for
            them, which is what makes access that has been taken away actually
            gone.
          type: string

    Message:
      type: object
      additionalProperties: false

      required:
        - id
        - body
        - author_role
        - author_uid
        - created_at
        - read_at
        - files

      properties:
        id:
          type: number

        body:
          type: string

        author_role:
          type: string

          enum:
            - curator
            - submitter

        author_uid:
          type: string

        created_at:
          type: string
          format: date-time

        read_at:
          type:
            - string
            - 'null'
          format: date-time

        files:
          type: array

          items:
            $ref: '#/components/schemas/AttachedFile'

    ReviewerAccession:
      type: object
      additionalProperties: false

      description: >
        What a share-token holder sees of an entry. Deliberately narrower than
        Accession: the token is unauthenticated, and where the entry stands in
        DDBJ's own handling of the submission is not a reviewer's business — the
        same reason the message thread is unreachable from a share link.

      required:
        - accession
        - entry_id
        - version
        - locus_date

      properties:
        accession:
          type: string

        entry_id:
          type: string

        version:
          type: number

        locus_date:
          type: string
          format: date

    CurationStatus:
      type: string

      description: >
        Where a curated row stands. `canceled` and `withdrawn` mean the row is no
        longer part of the submission: it is left out of the flatfile the next time
        one is generated, and should be left out of anything derived from it. The
        stored flatfile still contains it until then — the status is what changed,
        and regenerating is a separate run.

      enum:
        - submission_accepted
        - curating
        - accession_issued
        - private
        - public
        - withdrawn
        - canceled
        - permanently_suppressed
        - temporarily_suppressed

    SubmissionOperationStatus:
      type: string

      enum:
        - waiting_validation
        - validating
        - validation_failed
        - ready_to_apply
        - waiting_application
        - applying
        - applied
        - application_failed
        - no_change

    Error:
      type: object
      additionalProperties: false
      required: [error]

      properties:
        error:
          type: string

  responses:
    BadRequest:
      description: Unexpected parameter specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Not authenticated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Does not have access rights to the resource.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: The requested resource could not be found.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnprocessableContent:
      description: Invalid parameter or payload was specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

