openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

security:
  - BearerAuth: []

paths:
  /api_key/regenerate:
    post:
      description: Re-generate API key.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns a new API key.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [api_key]

                properties:
                  api_key:
                    type: string

        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      description: Get your information.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns the user.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [uid, api_key, admin]

                properties:
                  uid:
                    type: string

                  api_key:
                    type: string

                  admin:
                    type: boolean

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submission_requests:
    get:
      description: Get a list of submission requests. Omit `db` to span every database the user has access to.

      tags:
        - Submission Requests

      parameters:
        - name: db
          in: query

          schema:
            $ref: '#/components/schemas/Db'

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submission requests.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionRequestSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      description: Create a submission request.

      tags:
        - Submission Requests

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_request]

              properties:
                submission_request:
                  type: object
                  additionalProperties: false
                  required: [db, ddbj_record]

                  properties:
                    db:
                      $ref: '#/components/schemas/Db'

                    ddbj_record:
                      type: string
                      format: binary

      responses:
        '202':
          description: Accepted the submission request creation.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submission_requests/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission request.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the requested submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/status:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the status of a submission request. Lightweight endpoint for polling.

      tags:
        - Submission Requests

      responses:
        '200':
          description: Returns the status of the submission request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionRequestStatus'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submission_requests/{id}/submission:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    post:
      description: Apply a submission request.

      tags:
        - Submission Requests

      responses:
        '204':
          description: Accepted the submission request application.

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /submissions:
    get:
      description: Get a list of submissions. Omit `db` to span every database the user has access to.

      tags:
        - Submissions

      parameters:
        - name: db
          in: query

          schema:
            $ref: '#/components/schemas/Db'

        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of submissions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/SubmissionSummary'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /submissions/{id}:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a submission.

      tags:
        - Submissions

      responses:
        '200':
          description: Returns the requested submission.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions/{id}/accessions:
    parameters:
      - name: id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get a paginated list of accessions for a submission.

      tags:
        - Submissions

      parameters:
        - name: page
          in: query

          schema:
            type: number

      responses:
        '200':
          description: Returns the list of accessions.

          headers:
            Total-Pages:
              schema:
                type: string

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Accession'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

  /submissions/{submission_id}/messages:
    parameters:
      - name: submission_id
        in: path
        required: true

        schema:
          type: number

    get:
      description: Get the curator ↔ submitter message thread for a submission. Marks any unread curator-authored messages as read.

      tags:
        - Submissions

      responses:
        '200':
          description: Returns the chronological list of messages.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

    post:
      description: Submitter posts a reply to the thread. Notifies curators by email.

      tags:
        - Submissions

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [submission_message]

              properties:
                submission_message:
                  type: object
                  additionalProperties: false
                  required: [body]

                  properties:
                    body:
                      type: string

      responses:
        '201':
          description: Returns the newly-created message.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /accessions/{number}:
    get:
      description: Get an accession by number, including its submission and flatfile URLs.

      tags:
        - Submissions

      parameters:
        - name: number
          in: path
          required: true

          schema:
            type: string

      responses:
        '200':
          description: Returns the accession with its submission.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [number, entry_id, version, locus_date, submission]

                properties:
                  number:
                    type: string

                  entry_id:
                    type: string

                  version:
                    type: number

                  locus_date:
                    type: string
                    format: date

                  submission:
                    $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '404':
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    Db:
      type: string

      enum:
        - st26
        - bioproject
        - biosample

    SubmissionRequestSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - status
        - created_at
        - submission_id
        - has_accession
        - has_unread_curator_message

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        created_at:
          type: string
          format: date-time

        submission_id:
          type: number
          nullable: true

        has_accession:
          type: boolean

        has_unread_curator_message:
          type: boolean

    SubmissionRequestStatus:
      type: object
      additionalProperties: false

      required:
        - id
        - status
        - error_message
        - processing

      properties:
        id:
          type: number

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_message:
          type:
            - string
            - 'null'

        processing:
          type: boolean

    SubmissionRequest:
      type: object
      additionalProperties: false

      required:
        - id
        - status
        - error_message
        - created_at
        - processing
        - ddbj_record
        - validation
        - submission

      properties:
        id:
          type: number

        status:
          $ref: '#/components/schemas/SubmissionOperationStatus'

        error_message:
          type:
            - string
            - 'null'

        created_at:
          type: string
          format: date-time

        processing:
          type: boolean

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        validation:
          anyOf:
            - $ref: '#/components/schemas/Validation'
            - type: 'null'

        submission:
          anyOf:
            - $ref: '#/components/schemas/Submission'
            - type: 'null'

    Validation:
      type: object
      additionalProperties: false

      required:
        - id
        - progress
        - created_at
        - finished_at
        - validity
        - details

      properties:
        id:
          type: number

        progress:
          type: string

          enum:
            - running
            - finished
            - canceled

        created_at:
          type: string
          format: date-time

        finished_at:
          type:
            - string
            - 'null'

          format: date-time

        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid

        details:
          type: array

          items:
            type: object
            additionalProperties: false

            required:
              - entry_id
              - code
              - severity
              - message

            properties:
              entry_id:
                type:
                  - string
                  - 'null'

              code:
                type: string

              severity:
                type: string

                enum:
                  - warning
                  - error

              message:
                type: string

    SubmissionSummary:
      type: object
      additionalProperties: false

      required:
        - id
        - db
        - created_at
        - updated_at

      properties:
        id:
          type: number

        db:
          $ref: '#/components/schemas/Db'

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

    Submission:
      type: object
      additionalProperties: false

      required:
        - id
        - created_at
        - updated_at
        - ddbj_record
        - flatfile_na
        - flatfile_aa

      properties:
        id:
          type: number

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

        ddbj_record:
          $ref: '#/components/schemas/Attachment'

        flatfile_na:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

        flatfile_aa:
          anyOf:
            - $ref: '#/components/schemas/Attachment'
            - type: 'null'

    Accession:
      type: object
      additionalProperties: false

      required:
        - number
        - entry_id
        - version
        - locus_date

      properties:
        number:
          type: string

        entry_id:
          type: string

        version:
          type: number

        locus_date:
          type: string
          format: date

    Attachment:
      type: object
      additionalProperties: false
      required: [filename, url]

      properties:
        filename:
          type: string

        url:
          type: string
          format: uri

    Message:
      type: object
      additionalProperties: false

      required:
        - id
        - body
        - author_role
        - author_uid
        - created_at
        - read_at

      properties:
        id:
          type: number

        body:
          type: string

        author_role:
          type: string

          enum:
            - curator
            - submitter

        author_uid:
          type: string

        created_at:
          type: string
          format: date-time

        read_at:
          type:
            - string
            - 'null'

          format: date-time

    SubmissionOperationStatus:
      type: string

      enum:
        - waiting_validation
        - validating
        - validation_failed
        - ready_to_apply
        - waiting_application
        - applying
        - applied
        - application_failed
        - no_change

    Error:
      type: object
      additionalProperties: false
      required: [error]

      properties:
        error:
          type: string

  responses:
    BadRequest:
      description: Unexpected parameter specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Not authenticated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Does not have access rights to the resource.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: The requested resource could not be found.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnprocessableContent:
      description: Invalid parameter or payload was specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

